header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;

    position: fixed;
    left: 0;
    right: 0;
    top:0;
    height: 95px;
    z-index: 100;

    background-color: rgba(0, 0, 0, 0.85);
}

header div img {
    width: 150px;
    margin: 18px 0 18px 50px;
}

.menu a {
    color: #F7F7F7;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 16px;
    transition: color, .2s;
    flex-shrink: 0;
}

.menu a:hover {
    color: #386851;
}